*{
    font-family: Arial, Helvetica, sans-serif;
}



.heading{
    border: 7px solid #ed1a24;
    color: #24b251;
    text-align: center;
    padding: 18px;
    margin: 31px;
}

.nav-container > li {
    display: inline;
}

.nav-container > li > a{
    text-decoration: none;
    color: #ed1a24;
    text-transform: uppercase;
    margin-left: auto;
}

a{
    color:#24b251;  
    margin-left: 41px; 
}