@font-face {
    font-family: alexbrush;
    src: url('assets/fonts/alex-brush/AlexBrush-Regular.ttf');
}

body {
    background-color: #eff8ff;
    padding: 30px;
    padding-left: 60px;
}

div {
    background-color: #ffffff;
    width: 45%;
    padding: 20px;
    border: 3px solid #2998be;
}

h1 {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px grey;
    font-style: italic;
    text-indent: 30px;
}

p {
    font-family: alexbrush;
    text-indent: 30px;
}

p::first-letter {
    font-size: 1.5em;
    font-weight: bold;
    color: #2998be;
}

p::first-line {
    color: #ffa500;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}


a:link {
    color: blue
}
a:visited {
    color: pink;
  }

input:focus{
    border: 2px solid #000000;
}